@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@400;700&display=swap');

// Variables ——————————————————————————————

$color-white: #fff;
$color-black: #2b2b2f;
$color-gray: #e3e2e6;
$color-lt-red: #eb1a50;
$color-dk-red: #c80405;
$tint-black: rgba(0, 0, 0, 0.5);
$font-family-primary: 'Open Sans Condensed', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;
$style-h1: $color-white, $font-family-primary, 3.25rem, 700, 1.2, uppercase;
$style-h2: $color-black, $font-family-primary, 1.5rem, 700, 1.2, none;
$style-nav: $color-white, $font-family-primary, 1.125rem, 700, normal, none;
$style-menu: $color-black, $font-family-secondary, 1rem, 700, 1.2, none;
$style-body: $color-black, $font-family-secondary, 1rem, 400, normal, none;
$style-button: $color-white, $font-family-primary, 1.5rem, 700, normal, uppercase;

// Mixins ——————————————————————————————

@mixin text($color, $font-family, $font-size, $font-weight, $line-height, $text-transform) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  text-transform: $text-transform;
}

// Global ——————————————————————————————

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  @include text($style-nav...);
}

h1 {
  @include text($style-h1...);
}

h2 {
  @include text($style-h2...);
}

p {
  @include text($style-body...);
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

button {
  @include text($style-button...);
  width: 100%;
  padding: 4px;
  border-width: 0;
  border-radius: 3px;
  background-color: $color-lt-red;
  cursor: pointer;

  &:hover {
    background-color: $color-dk-red;
  }
}

// Nested selectors ——————————————————————————————

body {
  display: grid;
  grid-template-columns: minmax(32px, auto) minmax(auto, 1168px) minmax(32px, auto);
  background-color: $color-gray;

  header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    z-index: 1;
    padding-top: 28px;

    .div-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;

        li {
          padding-left: 60px;

          a {
            &:hover {
              padding-bottom: 0.15rem;
              border-bottom: 0.15rem solid $color-white;
            }
          }
        }
      }
    }
  }

  .div-hero {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    height: 472px;
    padding: 90px 32px 32px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient($tint-black, $tint-black), url('../images/hero-bkg.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  main {
    grid-column: 2 / span 1;
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 32px;

    .div-menu {
      @include text($style-menu...);
      padding-top: 16px;

      ul {
        display: grid;
        gap: 1rem;

        li {
          &:hover {
            padding-left: 10px;
            color: $color-dk-red;
          }
        }
      }
    }

    .div-product-listing {
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

      .div-card {
        min-height: 390px;
        padding: 16px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $color-white;
        text-align: center;

        img {
          width: 100%;
          margin-bottom: 0.5rem;
        }

        h2 {
          margin-bottom: 0.5rem;
        }

        button {
          margin-top: 1rem;
        }
      }
    }
  }
}

// Media queries ——————————————————————————————

@media only screen and (max-width: 768px) {
  * {
    font-size: 20px;
  }

  body {
    header {
      .div-header {
        flex-direction: column;
        align-items: stretch;

        .link-logo {
          margin-bottom: 14px;
          align-self: center;
        }

        ul {
          width: 100%;
          max-width: 400px;
          margin: 0 auto;
          justify-content: space-between;

          li {
            padding-left: 0;
          }
        }
      }
    }

    .div-hero {
      padding-top: 170px;
    }

    main {
      grid-template-columns: 1fr;

      .div-menu {
        padding-top: 0;
        text-align: center;

        ul {
          li {
            &:hover {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}
