@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  text-transform: none;
}

h1 {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  color: #2b2b2f;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: none;
}

p {
  color: #2b2b2f;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

button {
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
  padding: 4px;
  border-width: 0;
  border-radius: 3px;
  background-color: #eb1a50;
  cursor: pointer;
}
button:hover {
  background-color: #c80405;
}

body {
  display: grid;
  grid-template-columns: minmax(32px, auto) minmax(auto, 1168px) minmax(32px, auto);
  background-color: #e3e2e6;
}
body header {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  z-index: 1;
  padding-top: 28px;
}
body header .div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .div-header ul {
  display: flex;
}
body header .div-header ul li {
  padding-left: 60px;
}
body header .div-header ul li a:hover {
  padding-bottom: 0.15rem;
  border-bottom: 0.15rem solid #fff;
}
body .div-hero {
  grid-column: 1/span 3;
  grid-row: 1/span 1;
  height: 472px;
  padding: 90px 32px 32px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-bkg.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}
body main {
  grid-column: 2/span 1;
  padding: 32px 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 32px;
}
body main .div-menu {
  color: #2b2b2f;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: none;
  padding-top: 16px;
}
body main .div-menu ul {
  display: grid;
  gap: 1rem;
}
body main .div-menu ul li:hover {
  padding-left: 10px;
  color: #c80405;
}
body main .div-product-listing {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
body main .div-product-listing .div-card {
  min-height: 390px;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  text-align: center;
}
body main .div-product-listing .div-card img {
  width: 100%;
  margin-bottom: 0.5rem;
}
body main .div-product-listing .div-card h2 {
  margin-bottom: 0.5rem;
}
body main .div-product-listing .div-card button {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 20px;
  }

  body header .div-header {
    flex-direction: column;
    align-items: stretch;
  }
  body header .div-header .link-logo {
    margin-bottom: 14px;
    align-self: center;
  }
  body header .div-header ul {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    justify-content: space-between;
  }
  body header .div-header ul li {
    padding-left: 0;
  }
  body .div-hero {
    padding-top: 170px;
  }
  body main {
    grid-template-columns: 1fr;
  }
  body main .div-menu {
    padding-top: 0;
    text-align: center;
  }
  body main .div-menu ul li:hover {
    padding-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
